<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>eCourse</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/responsive.css">

    </head>
    <body>
        <div id="page-home">
            <div class="content">

                <header>
                    <h3>eCourse</h3>
                    <form action="page-search-results">
                        <div class="search field">
                            <input type="text" name="search" placeholder="Pesquise por design">
                            <button>
                                <img src="/assets/search.svg" alt="Buscar">
                            </button>
                        </div>
                    </form>

                    <a href="/page-login">
                        <span></span>
                        Fazer login</a>
                    <a href="/page-create-point">
                        <span></span>Cadastre-se</a>
                </header>

                <main>
                    <h1>Sua plataforma de cursos online</h1>
                    <p>Ajudamos pessoas a alcançarem seus objetivos através do conhecimento.</p>
                </main>

                <script src="/scripts/index.js"></script>

            </div>
        </div>

    </body>
</html>