<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8"> <!--aceita caracteres especiais-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--para caber em telas de diversos tamanhos-->
    <title>Login</title>
 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/login.css">
 
    <link rel="stylesheet" href="/styles/responsive.css">
 
</head>
<body>
    
    <div id="page-login">
        <header>
            <h3>eCourse</h3>

                <form action="page-search-results">
                    <div class="search field">
                        <input type="text" name= "search" placeholder="Pesquise por design">
                        <button>
                            <img src="/assets/search.svg" alt="Buscar">
                        </button>
                    </div>
                </form>

            <a href="/page-login"><span></span> Fazer login</a>
            <a href="/page-create-point"><span></span>Cadastre-se</a>            
        </header>

        <div class="voltar-home">
            <a href="/"><span></span>Voltar para home</a>
        </div>
        
        <form action="" class= "form2">
        <h1>Entrar</h1>
            <fieldset>

                    <div class="field"> <!--.field*2 para criar duas div; -->
                        <input type="text" name="email" placeholder="Email" required>
                    </div>

                    <div class="field"> <!--.field*2 para criar duas div; -->
                        <input type="text" name="email" placeholder="Senha" required>
                    </div>
                    
                <p>Ainda não é aluno?<a href="/page-profile"> Inscreva-se</a></p>
                <button type="submit">Cadastre-se</button>
                
            
                </fieldset>
    
                
    
        </form>


    </div>
    
        <script src="/scripts/create-point.js"></script> 
 
</body>
</html>

