:root
{
    --title-color: #322153;
    --login-color: #0433BF;
    --button-color: #F25CA2;
    --color: #f0f0f5;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: Roboto, sans-serif;
}

body
{
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

/*header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/
